﻿@model C__Cumulative_Part_1.Models.Teacher
@{
    ViewBag.Title = "Update";
}


<div id="containershow">
    <nav>
        <a class="navlink" href="/teacher/Show/@Model.teacherid">Back</a>
    </nav>
    <h2>Update Teacher</h2>
    <form method="POST" action="/Teacher/Update/@Model.teacherid">
        
        <div class="inputrow">
            <label for="teacherFname">First Name:</label>
            <input type="text" id="teacherFname" name="teacherFname" value="@Model.teacherfname" />
        </div>
        <div class="inputrow">
            <label for="teacherLname">Last Name:</label>
            <input type="text" id="teacherLname" name="teacherLname" value="@Model.teacherlname"  />
        </div>
        <div class="inputrow">
            <label for="employeenumber">Employeenumber:</label>
            <input type="text" id="employeenumber" name="employeenumber" value="@Model.employeenumber" />
        </div>
        <div class="inputrow">
            <label for="hiredate">Hiredate:</label>
            <input type="text" id="hiredate" name="hiredate" value="@Model.hiredate" />
        </div>
        <div class="inputrow">
            <label for="salary">Salary:</label>
            <input type="text" id="salary" name="salary" value="@Model.salary" />
        </div>
        <div class="inputrow">
            <input type="submit" value="Update Teacher" />
        </div>
    </form>
</div>